body {
	min-width: $base-min-width;
}

h1 {
    @include media-breakpoint-down(lg) {
        font-size: 32px;
    }

    @include media-breakpoint-down(xs) {
        font-size: 30px;
    }
}

h2 {
    @include media-breakpoint-down(md) {
        font-size: 32px;
    }
}

p {
    @include media-breakpoint-down(md) {
        margin: 0 0 15px;
    }
}

a {
	transition: all 0.3s ease-in-out;
}

// main container styles
#wrapper {
	width: 100%;
	position: relative;
}

.btn {
    &.btn-link {
        color: $black;
        text-decoration: underline;

        &:hover,
        &:focus {
            color: $primary;
        }
    }
}